@mixin flex($val) {
    @if $val == row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    @else if $val == column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}